{% extends 'base.html' %} {% block content %}
<style></style>
<div class="">
    <div class="forms d-flex justify-content-around">
        <div class="category">
            <form action="{% url 'category' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="category" placeholder="+ category" class="p-3 fs-4 mb-5 col-xs-4 input-sm">
                <button type="submit" class="btn btn-sm btn-info fs-4">Add</button>

            </form>
        </div>
        <div class="location">
            <form action="{% url 'location' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="location" placeholder="+ location" class="p-3 fs-4 mb-5 col-xs-4 input-sm">
                <button type=" submit " class="btn btn-sm btn-info fs-4">Add</button>

            </form>
        </div>
    </div>
</div>

<div class="container" style="display: flex; justify-content: center;">
    <div class="card" style="width: 18rem; margin:8px;">
        {% if images %}{%for image in images%}
        <img src="{{image.image.url}} " class="" alt=" ... ">
        <div class="card-body ">
            <h5 class="card-title ">{{image.name}}</h5>
            <a href="{% url 'view_image' id=image.id %} " class="btn btn-info ">View More</a>
        </div>
        {% endfor %} {% else %}
        <p>No items to display</p>
        {% endif %}
    </div>
</div>
{% endblock %}