{% extends 'base.html' %} {% block content %}
<div>
    <div class="forms d-flex justify-content-around">
        <div class="category">
            <form action="{% url 'category' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="category" placeholder="Add new category" class="p-1 fs-4">
                <button type="submit" class="btn btn-sm btn-info fs-4">Add<i class="fa-solid fa-plus"></i></button>

            </form>
        </div>
        <div class="location">
            <form action="{% url 'location' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="location" placeholder="Add new location" class="p-1 fs-4">
                <button type=" submit " class="btn btn-sm btn-info fs-4">Add<i class="fa-solid fa-plus "></i></button>

            </form>
        </div>
    </div>
</div>
<div>
    {% if images %}{%for image in images%}
    <p>
        <img src="{{image.image.url}} " alt=" " class="h-50 w-50 "> {{image.name}}
        <a href="{% url 'view_image' id=image.id %} " class="btn btn-warning ">View More</a>
    </p> {% endfor %} {% else %}
    <p>No items to display</p>
    {% endif %}
</div> {% endblock %}